@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme 'dark' {
  --color-background: #0f1117;
  /* page background */
  --color-surface: #1a1d27;
  /* cards, sidebar */
  --color-border: #2a2d3e;
  /* dividers */
  --color-primary: #6c63ff;
  /* buttons, active nav */
  --color-income: #22c55e;
  /* income green */
  --color-expense: #ef4444;
  /* expense red */
  --color-investment: #f59e0b;
  /* investment amber */
  --color-text-primary: #f1f5f9;
  --color-text-muted: #64748b;
}
